body{
  margin: 0;
background-color: beige;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}
h1{
padding-top: 50px;
font-family: 'Righteous', cursive;
/*Si la primera fuente no está instalada en el ordenador del visualizador, entonces se unas las otras descritas*/
font-size: 45px;

}
h2{
  font-size: 40px;
}

.cloud-top{
  position: absolute;
  right: 50px;
height: 120px;
}

.cloud{
  position: absolute;
  left:50px;
  top: 100px;
  height: 120px;
}
.mountain{
    position: relative;
    align-items: center;
  margin-bottom:auto;
}
.middle-container{
  position: relative;
}
.computergif{
  height: 100px;
  margin: auto;
}
.brain{
  height: 100px;

  margin: auto;
}
.smilegif{
  height: 100px;
  margin: auto;
  color: black;
}
